
#servers #connected-servers{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction:column ;
}
#servers #connected-servers #nav,#servers #connected-servers #browse{
    display: flex;
    flex-direction:column ;
    padding: 1%;
    width: 98%;
}
#servers #connected-servers #nav{
    display: flex;
    justify-content: center;
    height: 5%;
    font-weight: bolder;
    overflow:hidden;
    overflow-x: scroll;
}
#servers #connected-servers #nav ul{
    display: flex;
    width: 100%;
    padding: 0;
    height: 100%;
    flex-direction: row;
    justify-content: left;
}
#servers #connected-servers > * > ul li{
    list-style-type: none;
}
#servers #connected-servers #browse{
    height: 95%;
}
#servers #connected-servers #browse div,#servers #connected-servers #browse li{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#servers #connected-servers #browse div{
    height: 10%;
}
#servers #connected-servers #browse #browse-path{
    display: flex;
}
#servers #connected-servers #browse #browse-path #folderactions{
    display: flex;
    flex-direction: row;
    height: 100%;
}
#servers #connected-servers #browse #browse-list{
    padding: 0;
    padding-bottom: 5%;
    height: 95%;
    overflow-y: scroll;
    background: #483e37;
}
#servers #connected-servers #browse #browse-list li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.5);
}
#servers #connected-servers #browse #browse-list li:hover{
    background: rgba(0,0,0,0.2);
}
#servers #connected-servers #browse #browse-list li.selected{
    background: rgba(0,0,0,0.4);
    transition:1.2s;

    /* background: #002255; */
    
    /* color: #0066ff; */
}
#servers #connected-servers #browse #browse-list li .elemheading{
    display: flex;
    flex-direction: row;
}
#servers #connected-servers #browse #browse-list li .elemheading .actions{
    width:50vw;
    border-top:red;
    flex-direction:row;
    /* justify-content: space-between; */
    display: none;
}
#servers #connected-servers #browse #browse-list li.selected .elemheading .actions{
    display: flex;
    height: 100%;
}
#servers #connected-servers #browse #browse-list li .elemheading .actions .action{
    height: 100%;
}
#servers #connected-servers #browse #browse-list li .typeico{
    width:4vw;
    height: 6vh;
    margin: 0.5%;
}
#servers #connected-servers #browse #browse-list li .content{
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
}
#servers #connected-servers #browse #browse-list li:hover,#servers #connected-servers #browse #browse-list li.selected:hover .inf{
    display: flex;
}
#servers #connected-servers #browse #browse-list li.selected:hover .inf{
    transition:1.2s;
}
#servers #connected-servers #browse #browse-list li .inf{
    display: none;
    width:100%;
    height: 100%;
    transition: 1s;
    overflow: hidden;
    overflow-x: scroll;
    flex-direction: row;
    justify-content: left;
}
#servers #connected-servers #browse #browse-list li .inf .infobox{
    display: flex;
    padding: 0.5%;
}
#servers #connected-servers #browse #browse-list li .inf > * > *{
    padding: 1% ;
    border-radius: 0.6em;
}
#servers #connected-servers #browse #browse-list li .inf > * > .infolabel{
    color:white;
}
#servers #connected-servers #browse #browse-list li .inf > * > .infodata{
    background:rgb(255,255,255,0.8);
    padding: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}