
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:#504410;
    color: #88aa00;
}