
#registerserver{
    max-height: 12%;
    /* background: linear-gradient(to bottom,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.3)); */
    color: white;
    flex-direction:column ;
    justify-content: center;
}
#registerserver,#registerserver form,#registerserver form fieldset{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    box-shadow: 0 0 0.5px #2b1100;
}
#registerserver form fieldset{
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}
@media screen and (max-width:997px){
    #registerserver{
        margin-top: 5%;
        margin-bottom: 15%;
        padding-top: 15%;
        max-height: 10%;
        overflow: hidden;
        overflow-y: scroll;
    }
    #registerserver .field:first-of-type{
        margin-top: 20%;
    }
    #registerserver #addserver{
        position: absolute;
        margin-top:-28%;
        cursor: pointer;
        padding:3%;
        right:5%;
    }
    #registerserver form fieldset {
        flex-direction: column;
        justify-content: space-around;
        padding: 5%;
    }
    #registerserver form fieldset .field{
        margin-top: 2%;
        padding: 5%;
        display: flex;
        justify-content: space-between;
        background: #88aa00;
    }
}