#servers{
    margin: 0;
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: top;
}
#servers .list,#servers #connectedservers{
    display: flex;
    flex-direction: column;
}
#servers .list-label{
    margin: 0;
    padding: 4%;
    background: rgba(0,0,0,0.5);
}
#servers .list{
    margin: 0;
    padding: 0;
    width: 20%;
    padding-bottom: 3%;
    overflow: hidden;
    overflow-y: scroll;
    background: #0b2228;
    color: #0066ff;
}
#servers .list .server{
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    background: #002255;
    width: 100%;
    padding: 0;
    box-shadow: 0 0 0.5px 0.5px #2b1100;
}
#servers .list .server:hover{
    color: silver;
}
#servers .list .server.active{
    background: #005544;
}
#servers .list .server > *{
    padding: 2%;
}
#servers .list .server .connectToServer{
    cursor: pointer;
    width: 99%;
    padding: 5%;
    color:silver;
    font-weight: bolder;
    border:1px solid rgba(0,0,0,0.5);
    border-top: none;
    border-bottom: none;
    border-radius: 6em;
    background: linear-gradient(#373748,#35336c,#6f6f91);
}
#servers .list .server .connectToServer:hover{
    background: linear-gradient(#1f1c24,#373748,#35336c);
}
