<link rel="stylesheet" href="/css/connectedservers.css">
<section id='connected-servers'>
    <div id='nav'>
        <ul>
            <li>
                no connected servers...
            </li>
        </ul>
    </div>
    <div id='browse'>
        <div id='browse-path'>
            <em id='currentdir'></em>
            <div id='folderactions'>
                <button disabled>
                    select all
                </button>
                <button disabled>
                    upload
                </button>
                <button disabled>
                    rename
                </button>
            </div>

        </div>
        <ul id='browse-list'>

        </ul>
    </div>
</section>