<section id='registerServer'>
    <form action="">
        <div class="field">
            <input type="text" id='hostname' name='hostname' placeholder="server address">
        </div>
        <div class="field">
            <input type="text" id='username' name='username' placeholder="username">
        </div>
        <div class="field">
            <input type="password" id='password' name='password' placeholder="password">
        </div>
        <div class="field">
            <input type="buton" id='addserver'  value="add server">
        </div>
    </form>
</section>