<style>
    #registerserver{
        height: 12%;
    }
    #registerserver,#registerserver form,#registerserver form fieldset{
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    #registerserver form fieldset{
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
    }
</style>
<section id='registerserver'>
    <form action="">
        <fieldset>
            <legend>
                add a server
            </legend>
            <div class="field">
                <label for="hostname">server name</label>
                <input type="text" id='name' name='name' placeholder="server name">
            </div>
            <div class="field">
                <label for="hostname">hostname</label>
                <input type="text" id='hostname' name='hostname' placeholder="server address">
            </div>
            <div class="field">
                <label for="username">username</label>
                <input type="text" id='username' name='username' placeholder="username">
            </div>
            <div class="field">
                <label for="password">password</label>
                <input type="password" id='password' name='password' placeholder="password">
            </div>
            <div class="field">
                <button id='addserver'>
                    add server
                </button>
            </div>
        </fieldset>
    </form>
</section>