<style>
    #registerserver{
        height: 12%;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3));
        color: white;
        flex-direction:column ;
        justify-content: center;
    }
    #registerserver,#registerserver form,#registerserver form fieldset{
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;
        box-shadow: 0 0 0.5px #2b1100;
    }
    #registerserver form fieldset{
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
    }
</style>
<section id='registerserver'>
    <form action="">
        <fieldset>
            <div class="field">
                <label for="hostname">server name</label>
                <input type="text" id='name' name='name' placeholder="server name">
            </div>
            <div class="field">
                <label for="hostname">hostname</label>
                <input type="text" id='hostname' name='hostname' placeholder="server address">
            </div>
            <div class="field">
                <label for="username">username</label>
                <input type="text" id='username' name='username' placeholder="username">
            </div>
            <div class="field">
                <label for="password">password</label>
                <input type="password" id='password' name='password' placeholder="password">
            </div>
            <div class="field">
                <button id='addserver'>
                    add server
                </button>
            </div>
        </fieldset>
    </form>
</section>