<style>
    #servers{
        margin: 0;
        padding: 2%;
        height: 96%;
        display: flex;
        flex-direction: column;
    }
</style>
<section id='servers'>
    {{#registerserver}}
    <!-- little skeleton, we will later automate the view in js -->
    <ul class="list">
        <section class="server">
            <div class="server-head">
                <h1>
                    servername
                </h1>
            </div>
            <div class="server-infos">
                <span class="info">
                    <label>username</label>
                    <span class="server-username">
                        username
                    </span>
                </span>
            </div>
            <div class="server-foot">
                <span class="action">
                    <button class="doconnect">
                        connect
                    </button>
                </span>
            </div>
        </section>
    </ul>
</section>
<script src='/js/servers.js'>
</script>