<style>
    #servers{
        margin: 0;
        height: 86%;
        width: 100%;
        display: flex;
        flex-direction: row;
        vertical-align: top;
    }
    #servers .list,#servers #connectedservers{
        display: flex;
        flex-direction: column;
    }
    #servers .list-label{
        margin: 0;
        /* position: sticky; */
        padding: 4%;
        background: rgba(0,0,0,0.5);
    }
    #servers .list{
        margin: 0;
        padding: 0;
        width: 20%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        background: #0b2228;
        color: #0066ff;
    }
    #servers .list .server{
        display: flex;
        flex-direction: column;
        background: #002255;
        width: 100%;
        max-height: 40%;
        padding: 0;
        box-shadow: 0 0 0.5px 0.5px #2b1100;
    }
    #servers .list .server > *{
        padding: 2%;
    }
    #servers .list .server .connectToServer{
        width: 100%;
    }

</style>
{{#registerserver}}
<section id='servers'>
    <!-- little skeleton, we will later automate the view in js -->
    <ul class="list">
        <section class="server">
            <div class="server-head">
                <h1>
                    servername
                </h1>
            </div>
            <div class="server-infos">
                <span class="info">
                    <label>username</label>
                    <span class="server-username">
                        username
                    </span>
                </span>
            </div>
            <div class="server-foot">
                <span class="action">
                    <button class="doconnect">
                        connect
                    </button>
                </span>
            </div>
        </section>
    </ul>
    {{#connectedservers}}
</section>
<script src='/js/servers.js'>
</script>