<link rel="stylesheet" href="/css/servers.css">
{{#registerserver}}
<section id='servers'>
    <!-- little skeleton, we will later automate the view in js -->
    <ul class="list">
        <section class="server">
            <div class="server-head">
                <h1>
                    servername
                </h1>
            </div>
            <div class="server-infos">
                <span class="info">
                    <label>username</label>
                    <span class="server-username">
                        username
                    </span>
                </span>
            </div>
            <div class="server-foot">
                <span class="action">
                    <button class="doconnect">
                        connect
                    </button>
                </span>
            </div>
        </section>
    </ul>
    {{#connectedservers}}
</section>
<script src='/js/servers.js'>
</script>